body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: beige;
}

h1 {
    color: saddlebrown;
}

h2 {
    color: chocolate;
}

ul, ol {
    background: white;
    padding: 10px;
    border-radius: 5px;
}

li {
    margin-bottom: 5px;
}

p {
    font-size: 18px;
}