body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 20px;
}

.image-container {
    margin: 20px auto;
    width: 420px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


img:hover {
    filter: brightness(100%) contrast(120%) saturate(140%) grayscale(10%);
}
